@using EBR.Web.Services
@{
    var pathImages = Url.Content("~/Images/");
    var parthIcon = pathImages + "Earth.ico";
    var baseurl = Request.Url.GetLeftPart(UriPartial.Authority) + Url.Content("~");
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <title> MBR Disposition Report</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Fav and touch icons -->
    <link href="@(parthIcon)" rel="shortcut icon" type="image/x-icon" />
    <link rel="icon" href="@(parthIcon)" sizes="32x32" />
    <link rel="icon" href="@(parthIcon)" sizes="48x48" />
    <link rel="icon" href="@(parthIcon)" sizes="64x64" />

    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Scripts/node_modules/datetime-picker/jquery.datetimepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Scripts/admin-lte3/dist/css/adminlte.min.css">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Scripts/admin-lte3/plugins/iCheck/all.css">

    <link href="~/Content/css.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>

<body class="hold-transition skin-green layout-top-nav fixed" ng-app="MainApp">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
            <div class="row">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="#" class="nav-link">MBR Disposition</a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="@Url.Action("MRBDataExport", "Home")?EmpNo=@Model" class="nav-link">MRB ExportData</a>
                    </li>

                    <li class="nav-item d-none d-sm-inline-block dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown">Contact</a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-left">
                            <span class="dropdown-item dropdown-header">Contact Phone</span>
                            <div class="dropdown-divider"></div>
                            <div class="card-body box-profile">
                                <div class="text-left">
                                    <i class="fa fa-phone mr-2"></i> 1305
                                    <span class="float-right text-muted  text-dark">Sutep (Ton)</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav ml-auto">
                @Html.Partial("Profile2")
                @*<li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell-o"></i>
                        <span class="nav-header">@Tools.User.Employee.EmployeeNo : @Tools.User.Employee.EngName</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">Welcome To </span>
                        <div class="dropdown-divider"></div>
                        <div class="card-body box-profile">
                            <div class="text-center">

                                @if (Tools.User.IsAuth)
                                {
                                    if (Tools.User.Employee.Sex == "M")
                                    {
                                        <img class="profile-user-img img-fluid img-circle"
                                             src="~/Scripts/admin-lte3/dist/img/avatar.png"
                                             alt="User profile picture">
                                    }
                                    else if (Tools.User.Employee.Sex == "F")
                                    {
                                        <img class="profile-user-img img-fluid img-circle"
                                             src="~/Scripts/admin-lte3/dist/img/avatar3.png"
                                             alt="User profile picture">
                                    }
                                }
                            </div>
                            <p class="text-muted text-center">@Tools.User.Employee.Position</p>
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>EmplyeeNo :</b> <a class="float-right">@Tools.User.Employee.EmployeeNo</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Department :</b> <a class="float-right">@Tools.User.Employee.Department</a>
                                </li>
                            </ul>
                            @using (Html.BeginForm("LogOff", "Account"))
                            {
                                <button class="btn btn-info btn-flat" type="submit"><i class="fa fa-sign-out"></i>&nbsp;Logoff</button>
                            }
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    @using (Html.BeginForm("LogOff", "Account"))
                    {
                        <button class="btn btn-info btn-xs " type="submit"><i class="fa fa-sign-out"></i>&nbsp;Logoff</button>
                    }
                </li>*@

            </ul>
        </nav>
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-light-info elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="~/Images/Earth.ico"
                     alt="EBR SYSTEM"
                     class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">MRB SYSTEM</span>
            </a>




            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item has-treeview ">
                            <a href="@Url.Action("MRBRequest", "Home")?EmpNo=@Model" class="nav-link bg-success active">
                                <i class="nav-icon fa fa-edit"></i>
                                <p>
                                    Create MRB SYSTEM
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("MRBData", "Home")?EmpNo=@Model" class="nav-link bg-warning">
                                <i class="fa fa-mail-reply-all"></i>
                                <p> MRB Send Email</p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview menu-open">
                            <a href="@Url.Action("MRBData", "Home")?EmpNo=@Model" class="nav-link active">
                                <i class="nav-icon fa fa-dashboard"></i>
                                <p>
                                    MRB Status
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("MRBApproveAllData", "Home")?EmpNo=@Model" class="nav-link bg-dark">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p> All Status MRB</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="@Url.Action("MRBApproveGP12DataWeb", "Home")?EmpNo=@Model" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Waiting GP12 Approve</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("MRBApproveIPQCDataWeb", "Home")?EmpNo=@Model" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Waiting IPQC Approve</p>
                                    </a>
                                </li>
                                @*<li class="nav-item">
                                    <a href="@Url.Action("MRBApproveNPDDataWeb", "Home")?EmpNo=@Model" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Waiting NPD Approve</p>
                                    </a>
                                </li>*@
                                <li class="nav-item">
                                    <a href="@Url.Action("MRBApproveProductionDataWeb", "Home")?EmpNo=@Model" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Waiting Production</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("MRBApproveProductionDataWeb", "Home")?EmpNo=@Model" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Waiting Engineer</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("MRBApproveQAQCWeb", "Home")?EmpNo=@Model" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Waiting QA&QC</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("MRBApprovePCDataWeb", "Home")?EmpNo=@Model" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Waiting Pc Approve</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("MRBApproveCTDWeb", "Home")?EmpNo=@Model" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Waiting CTD Approve</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="@Url.Action("MRBApproveCompleted", "Home")?EmpNo=@Model" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p> Completed</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("MRBApproveReject", "Home")?EmpNo=@Model" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p> Rejected</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content ng-cloak">
                @RenderBody()
            </section>
        </div>
        <!-- /.content-wrapper -->
        <aside class="control-sidebar  control-sidebar-dark"></aside>
        <!-- /.control-sidebar -->
        <footer class="main-footer hidden-xs">
            <div class="row">
                <div class="col-sm-3">Copyright@InnoValues-2020 - MRB Dispostion Report</div>
                <div class="col-sm-3 text-center">Version: 1.0.0.1</div>
                <div class="col-sm-3 text-center">IP: @TTools.ClientIpAddress()</div>
                @*<div class="col-sm-3 text-center">Connection: @Custom.GetDbInfo()</div>*@
            </div>
        </footer>

        

    </div>

    <!-- ./wrapper -->
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/addon")
    @Scripts.Render("~/bundles/app")

    <script>
		window.baseUrl = "@baseurl";
		window.autherize = "@Url.Action("Login", "Account")";
		Icon = "@parthIcon";


    </script>

    <script src="~/Scripts/node_modules/moment/min/moment.min.js"></script>
    @*<script src="~/Scripts/node_modules/moment/moment.js"></script>*@
    <script src="~/Scripts/node_modules/datetime-picker/jquery.datetimepicker.full.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>

    @*<script src="~/Scripts/node_modules/moment/moment.js"></script>
        <script src="~/Scripts/node_modules/datetime-picker/jquery.datetimepicker.full.js"></script>

        <script src="~/Scripts/node_modules/moment/min/moment.min.js"></script>
        <script src="~/Scripts/sweetalert.min.js"></script>*@
    @RenderSection("scripts", required: false)
</body>

</html>
